.card-image-top {
    cursor: zoom-in;
    max-width: 250px;
    object-fit: contain;
}

.modal-body {
    margin: 0 auto;
    padding: 0;
}

.modal-image {
    max-height: calc(100vh - 8.25rem);
    max-width: 100%;
}