@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Source+Sans+Pro&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: black url('/src/resources/images/tcbb_bg.jpg') no-repeat bottom fixed;
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
  font-family: 'Merriweather', serif;
  text-align: center;
}

.main-content {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 1rem;
  padding-bottom: 3rem;
}
