* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: black url('/src/resources/images/tcbb_bg.jpg') no-repeat bottom fixed;
  background-size: cover;
  position: relative;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.main-content {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 1rem;
  padding-bottom: 3rem;
}
